data/*
notebooks/*
!notebooks/.gitkeep
!notebooks/data_formation.ipynb
!notebooks/tutorial.ipynb
.DS_Store
models/*
run_logs/*
wandb/*
logs/*
playground.py
__pycache__/
src/vqgan/vqgan-output/*
outputs/*
src/sim_data/logs/*