data/*
notebooks/*
!notebooks/.gitkeep
!notebooks/data_formation.ipynb
!notebooks/tutorial.ipynb
preprocessing/__pycache__/
models/sd_vae/*
.DS_Store
dataloader/__pycache__
experiments/**/*.png
models/*
run_logs/*